.navegacion-container{
          background-color: #ffffff;
          margin: 25px;
          padding: 10px 10px;
          align-items: center;
          display: flex;

}
.navbar{
          flex: 1;
          justify-content: space-between;
          align-items: center;
          display: flex;
}
.a-nav-logo{
    opacity: .7;
    color: #222;
    font-size: 23px;
    text-decoration: none;
}
.logo{
          width: 220px;
          height: 250px;

}
.navegacion{
          align-items: center;
          display: flex;
}

.navegacion-item{
          flex: 1;
          justify-content: space-between;
          align-items: center;
          display: flex;
}

.a-nav{
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: top;
    color: #222;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    opacity: .7;
}
footer {
    background-color: #222;
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
}