
 body {
          font-family: Arial, sans-serif;
          background-color: #EFEFEF;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }

      #general {
          width: 1300px;
          height: 1200px;
          margin: 5px;
          background-color: #F5F5F5;
          display: flex;
          flex-direction: column;
      }

      #encabezado {
          width: 100%;
          height: auto;
          margin: 10px;
          background-color: #34495E;
      }

      #titulo {
          background-color: #ECF0F1;
          margin: 5px;
          text-align: center;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-size: 20px;
          color: #2C3E50;
      }

      #menu {
          margin: 10px;
          background-color: #95A5A6;
      }

      header {
          color: white;
          text-align: center;
          padding: 1rem;
      }

      .logo {
          width: 140px;
          height: 140px;
      }

      nav {
          display: flex;
          align-items: center;
          background-color: #EFEFEF;
          color: #2C3E50;
          text-align: center;
          padding: 0.5rem;
      }

      nav a {
          font-size: 28px;
          color: #2C3E50;
          text-decoration: none;
          padding: 0.5rem 1rem;
      }

      nav a:hover {
          background-color: #3498DB;
          color: white;
      }

      .container {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          background-color: #EFEFEF;
          color: #2C3E50;
          text-align: center;
          padding: 0.5rem;
      }

      .product {
          border: 1px solid #ccc;
          padding: 1rem;
          margin-bottom: 1rem;
          background-color: #FFFFFF;
      }

      footer {
          background-color: #34495E;
            color: white;
            text-align: center;
            padding: 1rem;
            position: fixed;
            width: 100%;
            height: auto;
            bottom: 0;
      }